
@media print {

body{
	overflow: collapse;
}

#botonl{
	display: none;
}

#th{
	display: none;

}

#input{
display: none;
}

#label{
	display: none;
}

#caja_busqueda{
	display: none;
}

#ocultar{
display: none;
}

#mostrar{
display: none;
}

.imagen img{

	width:100px;
	padding-bottom: 20px;	
}



}

@media screen{
	.imagen img{
		display: none;
	}

	body{
		overflow: collapse;
	}

}
